body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #e6e6e6;
  margin: 0;
  padding: 0;
}

.game-container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

.configuracion {
  margin-bottom: 20px;
}

#btnStart {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.dado {
  width: 60px;
  height: 60px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
h1 {
  color: red;
  background-color: white;
}
.cortina {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  z-index: 10; /* Para que quede por encima de los dados */
}

.oculto {
  display: none;
}

/* Aseguramos que game-container sea relativo para que la cortina se posicione sobre él */
.game-container {
  position: relative;
}
